@font-face { 
    font-family: 'jt-mono-bold';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMono-Bold.ttf') format('truetype'); 
}
@font-face { 
    font-family: 'jt-mono-bold-italic';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMono-BoldItalic.ttf') format('truetype'); 
}
@font-face { 
    font-family: 'jt-mono-extrabold';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMono-ExtraBold.ttf') format('truetype'); 
}
@font-face { 
    font-family: 'jt-mono-extrabold-italic';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype'); 
}
@font-face { 
    font-family: 'jt-mono-extralight';
        src: url('../res/jetbrains_mono_ttf/JetBrainsMono-ExtraLight.ttf') format('truetype'); 
    }
@font-face { 
    font-family: 'jt-mono-extralight-italix';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMono-ExtraLightItalic.ttf') format('truetype'); 
}
@font-face { 
    font-family: 'jt-mono-italic';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMono-Italic.ttf') format('truetype'); 
}
@font-face { 
    font-family: 'jt-mono-light';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMonL-Light.ttf') format('truetype'); 
}
@font-face { 
    font-family: 'jt-mono-light-italic';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMono-LightItalic.ttf') format('truetype'); 
}
@font-face { 
    font-family: 'jt-mono-medium';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMono-Medium.ttf') format('truetype'); 
}
@font-face { 
    font-family: 'jt-mono-medium-italic';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMono-MediumItalic.ttf') format('truetype'); 
}
@font-face { 
    font-family: 'jt-mono-regular';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMono-Regular.ttf') format('truetype'); 
}
@font-face { 
    font-family: 'jt-mono-thin';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMono-Thin.ttf') format('truetype'); 
}
@font-face { 
    font-family: 'jt-mono-thin-italic';
    src: url('../res/jetbrains_mono_ttf/JetBrainsMono-ThinItalic.ttf') format('truetype'); 
}